<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Add New Account</h1>

        <div class="well bs-component">
            <form name="addAccountForm" id="addAccountForm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:void(0)" ng-click="submitAddAccountForm(addAccountForm)"
                               class="btn btn-raised btn-primary btn-block">Add Account</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>