<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Create new client here...</h1>

        <div class="well bs-component">
            <form name="addClientForm" id="addClientForm">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="username">E-mail</label>
                    <input class="form-control" id="username" name="username" type="text" ng-model="formData.username" required>

                    <p class="help-block" ng-if="addClientForm.username.$error.required">Please enter email.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="firstName">First Name</label>
                    <input class="form-control" id="firstName" name="firstName" type="text" ng-model="formData.firstName" required>

                    <p class="help-block" ng-if="addClientForm.firstName.$error.required">Please enter first name.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" name="lastName" type="text" ng-model="formData.lastName" required>

                    <p class="help-block" ng-if="addClientForm.lastName.$error.required">Please enter last name.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="personalIdNumber">Personal Identification Number</label>
                    <input class="form-control" id="personalIdNumber" name="personalIdNumber" type="text" ng-model="formData.personalIdNumber" required>

                    <p class="help-block" ng-if="addClientForm.personalIdNumber.$error.required">Please enter personal identification number.</p>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:void(0)" ng-click="submitAddClientForm(addClientForm)"
                               id="createClient" class="btn btn-raised btn-primary btn-block">Create</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>