<div class="row" style="margin-top: 4%">
    <div class="col-md-offset-1 col-md-10">
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Client List</a></li>
        </ul>

        <div class="row">
            <div class="col-md-8">
                <h1>All clients are listed here ..</h1>
            </div>
            <a href="index.html#/addClient" class="btn btn-primary btn-fab"
               data-toggle="tooltip" id="addClient"
               title="Add New Client" data-placement="bottom" tooltip><i class="material-icons">add</i></a>

        </div>
        <div ng-if="clientList.result == 'SUCCESS'">
            <div class="row" ng-hide="!clientList.clients.length">
                <div class="col-lg-12" ng-repeat="client in clientList.clients">
                    <div class="well bs-component">
                        <table class="table table-responsive table-hover">
                            <tbody>
                            <tr>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>personal identification number</th>
                                <th>Date Created</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td ng-bind="client.username"></td>
                                <td ng-bind="client.firstName"></td>
                                <td ng-bind="client.lastName"></td>
                                <td ng-bind="client.personalIdNumber"></td>
                                <td ng-bind="client.dateCreated | date : 'MMM dd, yyyy @ hh:mm a'"></td>
                                <td><a href="index.html#/addAccount/{{client.userId}}">Add Account</a> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="well bs-component" ng-if="clientList.result == 'ERROR'">
            <div class="alert alert-danger">
                <p ng-bind="clientList.message"></p>
            </div>
        </div>
    </div>
</div>