.titleHeading1 {
    font-size: 380%;
    margin-bottom: 2%;
    margin-left: 14%;
}

.titleHeading {
    font-size: 300%;
    margin-bottom: 2%;
    text-align: left;
}

.titleHeadingOne {
    font-size: 300%;
    margin-bottom: 2%;
    text-align: center;
}

.navbarLogo {
    font-family: GocaLogotype;
    font-size: 300%;
    margin-top: 3%;
}
.mainTextColor {
    color: #3f51b5 !important;
}

.fontBolder {
    font-weight: bolder !important;
}

@media (min-width: 1200px){
    .container {
        width: 1350px;
    }
}

.aText{
    text-decoration: none !important;
}

.wellNewDesign{
    margin-bottom: 2px !important;
    line-height: 3.5;
    border-radius: 0px;
}

.textRight{
    float: right;
}
