<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Welcome to Ignite Bank</h1>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Home</a></li>
            <li><a href="index.html#/accountSummary">Account Summary</a></li>
            <li><a href="index.html#/fundTransfer">Transfer Funds</a></li>
            <li><a href="index.html#/transferHistory">Transfer history</a></li>
        </ul>

        <div ng-if="accountList.result == 'SUCCESS'">
            <div class="row" ng-hide="!accountList.accounts.length">
                <div class="col-lg-6" ng-repeat="bankAccount in accountList.accounts">
                    <div class="well bs-component">
                        <h3 class="text-center" style="min-height: 52px">Account summary for account {{bankAccount.accountNumber}}</h3>
                        <table class="table table-responsive table-hover table-condensed">
                            <tbody>
                            <tr>
                                <th>Owner</th>
                                <td ng-bind="bankAccount.holderName"></td>
                            </tr>
                            <tr>
                                <th>Personal Identification Number</th>
                                <td ng-bind="bankAccount.personalIdNumber"></td>
                            </tr>
                            <tr>
                                <th>Account Number</th>
                                <td ng-bind="bankAccount.accountNumber"></td>
                            </tr>
                            <tr>
                                <th>Account Balance</th>
                                <td ng-bind="bankAccount.accountBalance | currency: '€'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="well bs-component" ng-show="!accountList.accounts.length">
                <h3 class="alert alert-info"><i
                        class="material-icons">warning</i> There are no account available now. Please add bank account
                    started.
                </h3>
            </div>
        </div>

        <div class="well bs-component" ng-if="accountList.result == 'ERROR'">
            <div class="alert alert-danger">
                <p ng-bind="accountList.message"></p>
            </div>
        </div>
    </div>
</div>