<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Welcome to Ignite Bank</h1>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Home</a></li>
            <li><a href="index.html#/accountSummary">Account Summary</a></li>
            <li><a href="index.html#/fundTransfer">Transfer Funds</a></li>
            <li><a href="index.html#/transferHistory">Transfer history</a></li>
        </ul>

        <h1 class="titleHeading">Confirm Transfer of Funds</h1>

        <div class="well bs-component">
            <h1>Please confirm the details to complete the transaction</h1>

            <table class="table table-responsive table-hover">
                <tr>
                    <td>
                        <strong>From which of your accounts</strong><br/>
                        {{userDetail.accountNumber}} - {{userDetail.fullName}}
                    </td>
                    <td>
                        <strong>To which Ignite bank beneficiary accounts</strong><br/>
                        {{userDetail.beneficiaryAccount}} - {{userDetail.beneficiaryName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Amount</strong><br/>
                        {{userDetail.amount}}
                    </td>
                    <td>
                        <strong>Description</strong><br/>
                        {{userDetail.description}}
                    </td>
                </tr>

            </table>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascript:void(0)" ng-click="confirmFundTransfer()"
                           class="btn btn-raised btn-primary btn-block">Confirm transaction</a>
                    </div>

                    <div class="col-md-6">
                        <a href="javascript:void(0)" ng-click="resetFundTransfer()"
                           class="btn btn-raised btn-default btn-block">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>