<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Welcome to Ignite Bank</h1>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Home</a></li>
            <li><a href="index.html#/accountSummary">Account Summary</a></li>
            <li><a href="index.html#/fundTransfer">Transfer Funds</a></li>
            <li><a href="index.html#/transferHistory">Transfer history</a></li>
        </ul>

        <h1 class="titleHeading">Transfer Funds</h1>

        <div class="well bs-component">
            <form name="funTransferForm" id="funTransferForm">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="account">Bank Account</label>
                    <select name="account" id="account" ng-model="formData.accountNumber" class="form-control"  ng-change="updateAccountBalance(formData.accountNumber)" required>
                        <option style="display:none" value="">Select Bank Account</option>
                        <option ng-repeat="accountNumber in accountNumbers" value="{{accountNumber}}" ng-selected="accountNumber == formData.accountNumber">
                            {{formData.fullName}} - ({{accountNumber}})
                        </option>
                    </select>

                    <p class="help-block" ng-if="addClientForm.username.$error.required">Please enter email.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="documentNumber">Document Number*</label>
                    <input class="form-control" id="documentNumber" name="documentNumber" type="text" ng-model="formData.documentNumber" required>

                    <p class="help-block" ng-if="addClientForm.documentNumber.$error.required">Please enter document number.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="valueDate">Value Date*</label>
                    <input class="form-control" id="valueDate" name="valueDate" type="text" value="{{formData.valueDate}}" readonly ng-model="formData.valueDate" required>

                    <p class="help-block" ng-if="addClientForm.valueDate.$error.required">Please enter date of transfer.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="beneficiaryName">Beneficiary's Name*</label>
                    <input class="form-control" id="beneficiaryName" name="beneficiaryName" type="text" ng-model="formData.beneficiaryName" required>

                    <p class="help-block" ng-if="addClientForm.beneficiaryName.$error.required">Please enter beneficiary's name.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="beneficiaryAccount">Beneficiary's Account Number*</label>
                    <input class="form-control" id="beneficiaryAccount" name="beneficiaryAccount" type="text" ng-model="formData.beneficiaryAccount" required>

                    <p class="help-block" ng-if="addClientForm.beneficiaryAccount.$error.required">Please enter beneficiary's account number.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label"  for="amount">Amount*</label>
                    <div class="input-group">
                        <input class="form-control" id="amount" name="amount" type="text" ng-model="formData.amount" required>

                        <span class="input-group-btn">
                            <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">Funds Available {{accountBalance | euroFormat}}<div class="ripple-container"></div></a>
                        </span>
                    </div>

                    <p class="help-block" ng-if="addClientForm.amount.$error.required">Please enter amount.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="description">Description*</label>
                    <input class="form-control" id="description" name="description" type="text" ng-model="formData.description" required>

                    <p class="help-block" ng-if="addClientForm.description.$error.required">Please enter description.</p>
                </div>

                <div class="form-group label-floating">
                    <label class="control-label" for="referenceNumber">Reference Number</label>
                    <input class="form-control" id="referenceNumber" name="referenceNumber" type="text" ng-model="formData.referenceNumber" required>

                    <p class="help-block">Please enter Reference Number.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:void(0)" ng-click="submitFundTransferForm(funTransferForm)"
                               class="btn btn-raised btn-primary btn-block">Next</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>