<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Welcome to Ignite Bank</h1>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Home</a></li>
            <li><a href="index.html#/accountSummary">Account Summary</a></li>
            <li><a href="index.html#/fundTransfer">Transfer Funds</a></li>
            <li><a href="index.html#/transferHistory">Transfer history</a></li>
        </ul>

        <h1 class="titleHeading">Transfer Funds History</h1>

        <div class="well bs-component">

            <div class="form-group label-floating" style="margin-top: 3%">
                <label class="control-label" for="account">Bank Account</label>
                <select name="account" id="account" ng-model="formData.accountNumber" class="form-control"  ng-change="getAccountHistory(formData.accountNumber)">
                    <option style="display:none" value="">Select bank account to view history</option>
                    <option ng-repeat="accountNumber in accountNumbers" value="{{accountNumber}}" ng-selected="accountNumber == formData.accountNumber">
                        {{fullName}} - ({{accountNumber}})
                    </option>
                </select>
            </div>

            <div ng-if="transactionList.result == 'SUCCESS'">
                <div class="row" ng-hide="!transactionList.transactions.length" style="margin-top: 3%">
                    <div class="col-lg-12">
                        <div class="well bs-component">
                            <table class="table table-responsive table-hover">
                                <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Payer</th>
                                    <th>Receiver</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Account Balance</th>
                                </tr>
                                <tr ng-repeat="transaction in transactionList.transactions">
                                    <td ng-bind="transaction.valueDate"></td>
                                    <td ng-bind="transaction.payer"></td>
                                    <td ng-bind="transaction.receiver"></td>
                                    <td ng-bind="transaction.description"></td>
                                    <td ng-bind="transaction.amount | currency: '€'"></td>
                                    <td ng-bind="transaction.accountBalance | currency: '€'"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="well bs-component" ng-show="!transactionList.transactions.length">
                    <div class="alert alert-info">
                        <p>No transactions exists with this account.</p>
                    </div>
                </div>
            </div>

            <div class="well bs-component" ng-if="clientList.result == 'ERROR'">
                <div class="alert alert-danger">
                    <p ng-bind="clientList.message"></p>
                </div>
            </div>
        </div>
    </div>
</div>