<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-4 col-md-8">

    </div>
</div>


<div class="row" style="margin-top: 1%">
    <div class="col-md-offset-1 col-md-10">
        <h1 class="titleHeading">Welcome to Ignite Bank</h1>
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li><a href="index.html#/">Home</a></li>
            <li><a href="index.html#/accountSummary">Account Summary</a></li>
            <li><a href="index.html#/fundTransfer">Transfer Funds</a></li>
            <li><a href="index.html#/transferHistory">Transfer history</a></li>
        </ul>

        <h3 class="titleHeadingOne">You can always choose Preferred Welcome Page</h3>
        <div class="col-md-6 col-md-offset-3 bs-component">
            <a href="javascript:void(0)" class="aText" ng-click="setWelcomePage('/accountSummary')">
                <div class="well well-lg wellNewDesign">
                    <h3>
                        Account Summary
                        <i class="fa fa-chevron-right textRight" aria-hidden="true"></i>
                    </h3>
                </div>
            </a>
            <a href="javascript:void(0)" class="aText" ng-click="setWelcomePage('/fundTransfer')">
                <div class="well well-lg wellNewDesign">
                    <h3>
                        Transfer Funds
                        <i class="fa fa-chevron-right textRight" aria-hidden="true"></i>
                    </h3>
                </div>
            </a>
            <a href="javascript:void(0)" class="aText" ng-click="setWelcomePage('/transferHistory')">
                <div class="well well-lg wellNewDesign">
                    <h3>
                        Transfer History
                        <i class="fa fa-chevron-right textRight"></i>
                    </h3>
                </div>
            </a>
        </div>
    </div>
</div>