<div class="row" style="margin-top: 4%">
    <div class="col-md-offset-2 col-md-8">
        <h1 class="titleHeading">CHANGE PASSWORD</h1>
        <div class="well bs-component">
            <form name="forgotPasswordForm" id="forgotPasswordForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="newPassword">New password</label>
                    <input class="form-control" id="newPassword" name="newPassword" ng-model="formData.newPassword"
                           type="password" required>

                    <p class="help-block" ng-if="forgotPasswordForm.newPassword.$error.required">New password cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="confirmPassword">Confirm password</label>
                    <input class="form-control" id="confirmPassword" name="confirmPassword" type="password"
                           ng-model="formData.confirmPassword" required>

                    <p class="help-block" ng-if="forgotPasswordForm.confirmPassword.$error.required">Confirm password cannot be left
                        blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:void(0)" ng-click="forgotPassword(forgotPasswordForm)"
                               class="btn btn-raised btn-primary btn-block">Save New Password</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>