<div class="row" style="margin-top: 4%">

    <div class="col-md-offset-2 col-md-8">
        <h1 class="titleHeading">Login to get started with Ignite Bank</h1>
        <div class="well bs-component">
            <form name="loginForm" id="loginForm" method="post">
                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="username">Email Address</label>
                    <input class="form-control" id="username" name="username" ng-model="formData.username"
                           type="email" required>

                    <p class="help-block" ng-if="loginForm.username.$error.required">Email address cannot be left
                        blank.</p>
                </div>

                <div class="form-group label-floating" show-errors>
                    <label class="control-label" for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password"
                           ng-model="formData.password" required>

                    <p class="help-block" ng-if="loginForm.password.$error.required">Password cannot be left
                        blank.</p>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a href="javascript:void(0)" ng-click="loginUser(loginForm)" id="loginButton"
                               class="btn btn-raised btn-primary btn-block">Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>